
config.json
.data/youtube.data
!node_modules/
node_modules/*
music_temp/YTTemp/*
test.js
t.js
music_temp/maitetsulr-vocalalbum1.flac
music_temp/maitetsulr-vocalalbum2.flac
*.flac
*.mp3
appmap.yml
tmp/*
unused/*