
config.json
cookies.txt
package-lock.json
.data/youtube.data
!node_modules/
node_modules/*
chatGPT/*
music_temp/YTTemp/*
test.js
t.js
t2.js
t3.js
t5.js
music_temp/maitetsulr-vocalalbum1.flac
music_temp/maitetsulr-vocalalbum2.flac
*.flac
*.mp3
appmap.yml
tmp/*
unused/*
commands/pingdj.js
commands/snailNews.js
build/*
build.bat
ffmpeg.exe
ffprobe.exe
/music_temp
